DB_TYPE = "mysql"
DB_NAME = "free_launch_db"
DB_USER = "user"
DB_PASSWORD = "password"
DB_HOST = "localhost"
DB_PORT = "3306"
MYSQL_DRIVER = "mysqlconnector"
EMAIL_API_KEY = "e4cb25b4136754de9044adf7dbe50914"
EMAIL_API_SECRET_KEY = "e6c933b3f53ad230f2bdac63e5623851"
FRONTEND_URL = ""
OTP_INTERVAL = ""
SECRET_KEY = 'fdnvlscnv jdsnv kdjnv'
ADMIN_EMAIL=admin.hngx@gmail.com

OTP_INTERVAL = 1800
ACCESS_TOK_EXPIRE_MINUTES = 3000
REFRESH_TOK_EXPIRE_MINUTES = 6000
